

.kicon[style*="background-color"],
.kicon[class*="background-color"],
.is-style-outline .kicon{
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  border-radius: 50%;
}

.is-style-outline{
  .kicon{
    border-width: 2px;
    border-style: solid;
  }
}
